---

- name: deb pgdg
  when: ansible_os_family == 'Debian'
  block:
  - name: "pgdg - python3-debian"
    # needed for deb822_repository
    package:
      name: python3-debian
  
  - file:
      # Delete old config
      path: /etc/apt/sources.list.d/pgdg.list
      state: absent

  - deb822_repository:
      name: pgdg
      uris: http://apt.postgresql.org/pub/repos/apt/
      signed_by: https://www.postgresql.org/media/keys/ACCC4CF8.asc
      types:
      - deb
      suites: "{{ ansible_distribution_release }}-pgdg"
      components:
      - main
